<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Doctor List</title>

    ```
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    ```
  </head>

  <body class="bg-light">
    <div class="container mt-5">
      ```
      <div class="card shadow p-4">
        <h2 class="text-center text-primary mb-4">Registered Doctors</h2>

        <table class="table table-bordered table-hover">
          <thead class="table-dark">
            <tr>
              <th>ID</th>
              <th>Full Name</th>
              <th>Email</th>
              <th>City</th>
              <th>Specialization</th>
            </tr>
          </thead>

          <tbody>
            <tr th:each="doctor : ${doctors}">
              <td th:text="${doctor.id}"></td>

              <td th:text="${doctor.fullName}"></td>

              <td th:text="${doctor.email}"></td>

              <td th:text="${doctor.city}"></td>

              <td th:text="${doctor.specialization}"></td>
            </tr>
          </tbody>
        </table>
      </div>
      ```
    </div>
  </body>
</html>
